<single-spa-router mode="history" base="/">
  <!--

    This is the single-spa Layout Definition for your microfrontends.
    See https://single-spa.js.org/docs/layout-definition/ for more information.

  -->

  <!-- Example layouts you might find helpful:

  <nav>
    <application name="@org/navbar"></application>
  </nav>
  <route path="settings">
    <application name="@org/settings"></application>
  </route>

  -->
  <main>
    <nav class="fixed top-0 w-full p-4 bg-white z-10 " >
      <div class="container mx-auto flex justify-between items-center">
        <h2>Soy el microfront container</h2>
        <div class="flex gap-3">
          <a href="/" >
            <button class="px-5 py-1 rounded-md hover:bg-blue-500 transition-all hover:text-white">
              Microfront 1
            </button>
          </a>
          <a href="/2" >
            <button class="px-5 py-1 rounded-md hover:bg-blue-500 transition-all hover:text-white">
              Microfront 2
            </button>
          </a>
        </div>
      </div>
    </nav>
    
    <route default>
      <!-- <application name="@microfronttest/mf-header"></application> -->
      <application name="@microfronttest/mf-home"></application>
    </route>
    <route path="2">
      <application name="@microfronttest/mf-login"></application>
    </route>
  </main>
</single-spa-router>